{% extends "base.html" %}
{%load static%}
{% block content %}
<div class="row mb-3">
    {% if request.GET.q %}
    <div class="col-12 mb-3 mt-2">
        <h2>Search Results for '{{request.GET.q }}'<hr/></h2>  
    </div>
    {% else %}
    <div class="col-12 col-md-6 mx-auto py-5">
        <h4 align='center'>To search enter some query in the search box above.</h4>
    </div>
    {% endif %}
</div>
    <div class="container">
        <div class="row">  
            {% for obj in object_list %}
            <div class="col" >
                    <p>{% include 'cards.html' with instance=obj %}</p>
                    {% if forloop.counter|divisibleby:3 %}
                    </div></div>
                    <div class="row"><div class="col-12"><hr noshade></div>
                    {% else %}
                    </div>
                    {% endif %}
            {%endfor%}
        </div>
    </div>
{% endblock%}