{% extends "base.html" %} {%load static%} {% block content %}
<!-- <div class="container" align="center">
  <p> <h1>Homepage! </h1></p>
  {% if request.user.is_authenticated %}
  You are logged in as <strong>{{username}}</strong>
  {% else%}
  You are not logged in. Click below to sign up or login.
  <br>
  <a href="/register">Sign up page </a>
   <br>
   <a href="/login">Log in page </a>
  {%endif%}
</div>    -->

<section class="section">
    <div class="content">
        {% for obj in object_list %}
        <div class="col">
            <div class="card">
                <div class="image">
                    {%if obj.image %}
                    <a href="products/{{obj.slug}}"> <img class="card-img-top" style="width: 18rem; height: 20rem" src="{{obj.image.url}}" alt="{{obj.title}} pic"> </a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div id="item-name">
                        <a href="products/{{obj.slug}}">
                        {{obj.title}}
                    </a>
                    </div>
                    <p>{{ obj.price }}</p>
                    <div class="card-buttons">
                        <a href="products/{{obj.slug}}" id="view">View details </a>
                        <a href="{{ obj.get_absolute_url }}" id="cart">Add to Cart </a>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</section>

{% endblock%}